.footer
    .logo
        i.logo__image.fas.fa-rocket
        h2.logo__title Boostfolia
        .logo__text Made With Love By CreativeProduct
    .footer__social
        ul.social__list
            li #[a(href='https://www.behance.net/') #[i.social__item.fab.fa-behance-square]]
            li #[a(href='https://www.twitter.com/') #[i.social__item.fab.fa-twitter-square]]
            li #[a(href='https://facebook.com/') #[i.social__item.fab.fa-facebook-square]]