.footer {
    height: 250px;
    background-color: $blue;
    display: flex;
    flex-direction: column;

    .logo {
        padding-top: 60px;
        text-transform: uppercase;
        text-align: center;

        &__image {
            font-size: 38px;
            color: $coral; 
            transform: rotate(-45deg);
        }
        &__title {
            font-size: 24px; 
            padding: 3px 0px 5px;
            color: white;
        }
        &__text {
            color: white;
        }
    }

    .social {
        
        &__list {
           display: flex;
           justify-content: center;
        }
        &__item {
            color: white;
            font-size: 20px;
            margin: 10px 5px;
        }
    }
}