body {
}

body * {
}

a {
}

p {
}

h1 {
}

.base-button {
}

.base-button:hover {
}

.container {
    // margin: 0 auto;
    // max-width: 1160px;
    // width: 100%;
    // box-sizing: border-box;
}

.active {
}


@media (max-width: $desktop) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: $mobileL) {
    .container {
        padding-right: 5px;
        padding-left: 5px;
    }
}